.header{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.date{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.componentHeading1{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
